  .w80 {
     width: 80%;
  }
  .loading-card {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 210px;
    border: .5px;
    border-radius: 5%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin: 10px;
    font-size: small;
    padding-bottom: 10px;

    .wrapper {
      width: 0px;
      animation: fullView 0.5s forwards linear;
  
      .loading-title {
        margin: 10px auto;
        height: 30px;
        width: 150px;
        border-radius: 5%;

      }
      .loading-crypto-icon {
        height:80px;
        width: 80px;
        transition: 1s ease;
        margin: 20px auto 20px auto;
        border-radius: 100%;
      }

      .loading-info {
        height: 10px;
        margin: 10px auto;
        
        width: 90%;
      }
    
    }
  }

  @keyframes fullView {
    100% {
      width: 100%;
    }
  }

.animate {
    animation : shimmer 2s infinite;
    background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
    background-size: 1000px 100%;
 }

 @keyframes shimmer {
    0% {
      background-position: -1000px 0;
    }
    100% {
      background-position: 1000px 0;
    }
  }