.close-button {
    height: 40px;
    width: 40px;
    font-size: 30px;
    font-weight: 700;
    border-radius: 100%;
    border-color: #ffaabb;
    color: #ffaabb;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: 1s ease;
    border: none;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    button {
        -webkit-appearance: none !important;
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }

    &:hover {
        cursor: pointer;
        background-color: #A6E3E9;
        transition: 1s ease;
    }
}