.favorites-container {
    display: flex;
    flex-direction: column;

    .favorites-menu {
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 90%;
    }

    .favorites-cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .empty-message {
            font-weight: 500;
            letter-spacing: 1px;
            color: #A6E3E9;

        }
    }
}